<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
<h1>Bienvenido al Sistema de Administración de Personas (SAP)</h1>
<div>Cantidad de Personas agregadas: {{cPersonas}}</div>
<a href="agregar_persona">Agregar Persona</a>
<div>
    <br>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in tPersonas %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.apellido}}</td>
            <td>{{i.email}}</td>
            <td><a href="detalle_persona/{{i.id}}">Detalle</a></td>
            <td><a href="editar_persona/{{i.id}}">Editar</a></td>
            <td><a href="eliminar_persona/{{i.id}}">Eliminar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</body>
</html>