<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
<h1>Bienvenido al Sistema de Administración de Personas (SAP)</h1>
<div>Cantidad de Personas agregadas: {{cPersonas}}</div>
<a href="agregar_persona">Agregar Persona</a>
<div>
    <ul>
        {% for i in tPersonas %}
        <li>
        Persona {{i.id}}: {{i.nombre}} {{i.apellido}} {{i.email}}
        <a href="detalle_persona/{{i.id}}">Detalle Persona</a>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>