<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Domicilios</title>
</head>
<body>
    <h1>Listado de Domicilios</h1>
    <div>Cantidad de Domicilios agregados: {{cDomicilios}}</div>
    <a href="agregar_domicilio">Agregar Domicilio</a>
    <div>
        <br>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Calle</th>
                <th>No_calle</th>
                <th>País</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in tDomicilios %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.calle}}</td>
                <td>{{i.no_calle}}</td>
                <td>{{i.pais}}</td>
                <td><a href="detalle_domicilio/{{i.id}}">Detalle</a></td>
                <td><a href="editar_domicilio/{{i.id}}">Editar</a></td>
                <td><a href="eliminar_domicilio/{{i.id}}">Eliminar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <a href="{% url 'index' %}">Volver a inicio</a>
</body>
</html>